html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
img{
    max-width: 100%;
}
header{
    margin: 0;
    background-color:  #2E323F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rebeccapurple solid;
}
.nav{
    text-decoration: none;
    border:  red solid;
    padding: 1em;
}

.nav_list--primary{
    /* display: flex; */
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-link {
    color: white;
    text-transform: uppercase; 
    text-decoration: none;   
}