body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', se;
}
.container{
    background-color:#23424A;
    color: white;
    padding: 50px;
    margin: 0 auto;
    max-width: 75%;
}
.text{
    width: 50%;
}
.head{
    font-size: 48px;
}
.content .button{
    font-size: 21px;
}
.button{
    
    background-color: #38CFD9;
    color: black;
    text-align: center;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 20px;
    text-decoration: none;
    font-size: 21px;    
}
.button:hover{
    background-color: red;
    
}

