body{
    font-family: Hanken Grotesk;
    font-weight: 500;
}
.leftside{
    display: grid;
    background-color:hsl(221, 100%, 96%);
    padding: 10px 20px;
    justify-content: center;
    border-radius: 10px;
    align-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
.result{
    margin-top:5px;
}
#score{
    margin-top: 50px;
    font-size: 60px;
}
#total{
    margin-top: 30px;
}