
.prodPic {
    max-width: 250px;
    position: fixed;
    top: 25%;
    right: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.white{
    max-width: 250px;
    position: fixed;
    top: 25%;
    right:34%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
body{
    background-color: hsl(30, 38%, 92%);
}
p,a,h2{
    position: absolute;

}
p.type{
    top: 27%;
    left: 52%;
    color: grey;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
}
h2.product{
    top: 30%;
    left: 52%;
    font-size: 28px;
    font-family: "Fraunces", serif;
    line-height: 0.9;

}
p.desc{
    top: 45%;
    left: 52%;
    font-size: 12px;
    color: rgb(120, 120, 120);
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;

}
.price{
    top: 56%;
    left: 52%;
    font-size: 28px;
    color: green;
    font-family: "Fraunces", serif;
    font-weight: 700;
}
.cut{
    top: 60%;
    left: 60%;
    text-decoration: line-through;
    position:fixed;
    font-family: "Montserrat", sans-serif;
    color: rgb(116, 116, 116);
    font-size: 12px;

}
a{
    top: 70%;
    left: 51.5%;
    padding: 10px 60px;
    background-color: rgb(0, 90, 0);
    border-radius:8px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 650;
    color: white;
    font-family: "Montserrat", sans-serif;

}
